<a href="https://colab.research.google.com/github/Soichiro-Gardinner/Spanish-_Wine/blob/main/Spanish_Wine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Spanish Wine**
- **From:** Kaggle
- **By:** Oscar C.
- **Date:** 4/14/2023

In [1]:
# Import libraries:
import pandas as pd

In [2]:
# Read_Wine Data
S_wine = "/content/wines_SPA.csv"
df = pd.read_csv(S_wine)
df.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

In [3]:
# Looking for nulls and Data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   winery       7500 non-null   object
 1   wine         7500 non-null   object
 2   year         7498 non-null   object
 3   rating       7500 non-null   float64
 4   num_reviews  7500 non-null   int64
 5   country      7500 non-null   object
 6   region       7500 non-null   object
 7   price        7500 non-null   float64
 8   type         6955 non-null   object
 9   body         6331 non-null   float64
 10  acidity      6331 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 644.7+ KB

**Delete unnecessary columns:**

In [4]:
# Delete columns
df = df.drop(["winery", "type"], axis=1)

**Delete duplicate rows:**

In [5]:
df = df.drop_duplicates()

**Identify and address missing values:**

In [6]:
# Identify:
df.isna().sum()

wine             0
year             2
rating           0
num_reviews      0
country          0
region           0
price            0
body           271
acidity        271
dtype: int64

In [8]:
# Fill in missing values with mode for 'year' column
mode_year = df['year'].mode()[0] # Extract first mode value
df['year'] = df['year'].fillna(mode_year)


# Replace missing values with median for 'body' and 'acidity' columns
df['body'] = df['body'].fillna(df['body'].median())
df['acidity'] = df['acidity'].fillna(df['acidity'].median())

In [9]:
# Identify again:
df.isna().sum()

wine           0
year           0
rating         0
num_reviews    0
country        0
region         0
price          0
body           0
acidity        0
dtype: int64

**Inconcistencies:**

In [11]:
for i in df.columns:
  print(f"\n{df[i].value_counts}")

<bound method IndexOpsMixin.value_counts of 0                 Tinto
1         Vina El Pison
2                 Unico
3                 Unico
4                 Unico
             ...
2046    Finca Terrerazo
2047       Gran Reserva
2048           Preludio
2049         El Puntido
6100       Rioja Blanco
Name: wine, Length: 2048, dtype: object>

<bound method IndexOpsMixin.value_counts of 0       2013
1       2018
2       2009
3       1999
4       1996
        ...
2046    2017
2047    2011
2048    2016
2049    2005
6100    2017
Name: year, Length: 2048, dtype: object>

<bound method IndexOpsMixin.value_counts of 0       4.9
1       4.9
2       4.8
3       4.8
4       4.8
       ...
2046    4.2
2047    4.2
2048    4.2
2049    4.2
6100    4.2
Name: rating, Length: 2048, dtype: float64>

<bound method IndexOpsMixin.value_counts of 0         58
1         31
2       1793
3       1705
4       1309
        ...
2046     390
2047     389
2048     388
2049     384
6100     421
Name: num_reviews, Length: 2048, dtype: int64>

<bound method IndexOpsMixin.value_counts of 0       Espana
1       Espana
2       Espana
3       Espana
4       Espana
         ...
2046    Espana
2047    Espana
2048    Espana
2049    Espana
6100    Espana
Name: country, Length: 2048, dtype: object>

<bound method IndexOpsMixin.value_counts of 0                   Toro
1         Vino de Espana
2       Ribera del Duero
3       Ribera del Duero
4       Ribera del Duero
              ...
2046        El Terrerazo
2047    Ribera del Duero
2048    Ribera del Duero
2049               Rioja
6100               Rioja
Name: region, Length: 2048, dtype: object>

<bound method IndexOpsMixin.value_counts of 0       995.00
1       313.50
2       324.95
3       692.96
4       778.06
         ...
2046     24.45
2047     64.50
2048     31.63
2049     73.00
6100     29.15
Name: price, Length: 2048, dtype: float64>

<bound method IndexOpsMixin.value_counts of 0       5.0
1       4.0
2       5.0
3       5.0
4       5.0
       ...
2046    4.0
2047    5.0
2048    5.0
2049    4.0
6100    4.0
Name: body, Length: 2048, dtype: float64>

<bound method IndexOpsMixin.value_counts of 0       3.0
1       2.0
2       3.0
3       3.0
4       3.0
       ...
2046    3.0
2047    3.0
2048    3.0
2049    3.0
6100    3.0
Name: acidity, Length: 2048, dtype: float64>

### **<font color='#ffd966'>[NOTE]</font>**
- in this ocation we were unable to find **Inconsistencies**, but we will probably find some when we start to prepare our data for machine learning.